In [36]:
import pandas as pd

ser = pd.Series([1,2,3], index=['a','b','c'])
#ser.loc[['b','c']]
#ser.iloc[0:2]
#ser.loc[[True,False,True]]
ser !=2
df = pd.DataFrame(
    [[1,10,100],[2,20,200],[3,30,300]],
   index=['r1','r2','r3'], columns=['c1','c2','c3'])
df.loc['r2','c3']
df.loc['r1':'r3', 'c1':'c3']
df.iloc[0:3,0:3]
df['c2']
df >10
df.loc

       c1     c2    c3
r1  False  False  True
r2  False   True  True
r3  False   True  True

In [30]:
import os
import pandas as pd

base_url = 'https://raw.githubusercontent.com/practical-jupyter/sample-data/master/anime/'
anime_csv = os.path.join(base_url, 'anime.csv')

anime_csv1='./anime/anime_stock_price.csv'

print(anime_csv1)
pd.read_csv(anime_csv1, index_col=0, parse_dates=['Date']).head()

./anime/anime_stock_price.csv

            TOEI ANIMATION  IG Port
Date
2015-01-01         3356.86  1201.51
2015-01-02         3356.86  1201.51
2015-01-05         3396.12  1218.44
2015-01-06         3361.77  1201.51
2015-01-07         3297.97  1202.51

# Test source

git hub  연동  테스트

test | log
-----|-----
    1| a.log
    2| b.log

In [4]:
b="python"

In [5]:
print(a+b)

testpython